/*-------------------------- Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body#cover {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    font-size: 16px;
    background-repeat: no-repeat;
    /* background-color: black; */
    min-height: 100vh;
    background-color: #000;
}

body {
    background-color: #000;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 2;
    cursor: pointer; 
}

section#play,
section #cover {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    font-size: 16px;
    background-repeat: no-repeat;
    /* background-color: black; */
    min-height: 100vh;
}

.col-md-6 {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    overflow: hidden;
    /* min-height: 50vh; */
}

/*-------------------------- Ttles, subtitles and special text */

h1 {
    font-family: 'Trajan-Pro-3', serif;
    padding-top: 6rem;
    color: #cdc8c8d6;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Trajan-Pro-3', serif;
    color: #cdc8c8d6;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*-------------------------- Header and Navigation */

.fas.fa-crown {
    color: rgb(176, 13, 13);
    text-shadow: 1px 1px 2px rgba(219, 219, 142, 0.4);
    font-size: larger;
}

.fas.fa-crown:hover {
    color: rgba(219, 219, 142, 0.4);
}

/* Solution code for .navbar-toggler copied from https://stackoverflow.com/questions/23333231/bootstrap-button-shows-blue-outline-when-clicked */
.navbar-toggler {
    outline: none !important;
    box-shadow: none;
}

.bg-dark {
    background-color: #0a0b0c !important;
}

.navbar-brand {
    font-family: 'Trajan-Pro-3', serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.nav-link {
    font-family: 'Futura-PT', sans-serif;
    font-size: 1.15rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fafafa;
    font-weight: 300;
}

/*-------------------------- Quiz Questions */

.quiz-column {
    font-family: 'Futura-PT', sans-serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
    /* padding-bottom: 50px; */
    min-height: 100vh;
}

/* #question {
    font-family: 'Trajan-Pro-3', serif;
    font-size: 1.5rem;
    color: #fafafa;
    padding: 80px 30px;
    background-color: transparent;
    margin: 20px 30px;
    line-height: 1.8;
} */

#question {
    font-family: 'Trajan-Pro-3', serif;
    font-size: 1.5rem;
    color: #fafafa;
    padding-top: 50px;
    margin: 50px 30px;
    line-height: 1.8;
    padding: 0px 30px;
}

#choice0, #choice1, #choice2 {
    font-size: 20px;
    font-family: 'Trajan-Pro-3', serif;
    letter-spacing: .5px;
    color: #fafafa;
    /* padding-top: 10px; */
    /* margin: 30px 80px; */
    margin: 10px 0px;
    text-align: centter;
}

.buttons {
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-grid;
    line-height: 2;
}


#progress {
    color: #DBD8D8;
    text-shadow: 1px 1px 2px #b00d0d;
    font-size: 1rem;
    text-align: center;
    /* margin-top: 9rem; */
    font-family: 'Trajan-Pro-3', serif;
    /* padding-bottom: 6rem; */
}

/*------------------------- How To Play Modal */
p#directions-body {
    font-family: 'Futura-PT', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .5px;
    color: #fafafa;
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
}

h3.col-12.directions-title.text-center {
    font-size: larger;
    text-shadow: 1px 3px 4px rgba(219, 219, 219, 0.8);
    letter-spacing: .5px;
}

.btn.btn-danger {
    margin-bottom: 20px;
    border: none;
}

.btn.btn-danger:hover {
    background-color: rgba(94, 8, 8, .7);
    border: none;
}

/*-------------------------- Multiple Choice Questions */

div.answer-column {
    font-family: 'Futura-PT', sans-serif;
    background: rgba(94, 8, 8, .7);
    text-align: center;
    /* padding-top: 50px; */
    overflow: hidden;
    /* position: absolute; */
    min-height: 100vh;
    /* padding-bottom: 50px; */
}

.buttons {
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    display: inline-grid;
    /* margin-top: 50px; */
    /* padding: 20px 20px; */
}

span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.158rem;
}

button#btn0,
button#btn1,
button#btn2,
button#btn3,
button#btn4 {
    background-color: #000;
    width: 250px;
    /* font-size: 1rem; */
    color: #fff;
    /* margin: 40px 40px 40px 40px; */
    /* padding: 20px 20px; */
    border: 1px solid #000;
    padding: 10px 20px;
}

button#btn0:hover,
button#btn1:hover,
button#btn2:hover,
button#btn3:hover {
    cursor: pointer;
    background-color: #bd2130;
    border: none;
}

button#btn0:focus,
button#btn1:focus,
button#btn2:focus,
button#btn3:focus {
    outline: 0;
}

#score {
    font-family: 'Trajan-Pro-3', serif;
    text-transform: uppercase;
    color: #d61818d4;
    text-align: center;
    font-size: 1.5rem;
    /* letter-spacing: 1px; */
    font-weight: bolder;
    font-size: 3rem;
}


/* Results Page */

h2.play-again {
    margin-top: 50px;
    font-family: 'Trajan-Pro-3', serif;
    padding-top: 6rem;
    color: #da1e1e;
    font-size: 2rem;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    /* text-shadow: 1px 3px 1px #4b0404; */
}

button#play-again {
    background-color:rgb(176, 13, 13);
    font-family: 'Trajan-Pro-3', serif;
    color: #fafafa;
    text-transform: uppercase;
    border: none;
    margin-top: 60px;
    padding: 20px 20px;
    font-size: 1.2rem;
}

button#play-again:hover {
    background-color: rgb(121 6 6 / 66%);
}

div#quiz {
    margin-top: 80px;
}

.answers.mt-5.d-md-none {
    /* position: fixed; */
    text-align: center;
}

/*--------------------------  Modal */
/* Styles for receding modal dialog copied from csstricks <https://css-tricks.com/receding-background-modal-boxes/> */
#modal {
    background-color: rgba(0, 0, 0, 0.7);
}

/* This code prevents background from being scrollable while modal is open.
Copied from https: //css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/ */
body.modal-open {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal-footer {
    border: 0px;
    padding-bottom: 1px;
}

.modal-body {
    background-color: #0a0b0c;
    color: #fafafa;
    font-family: 'Trajan-Pro-3', serif;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* padding-left: 10px; */
    border: 1px solid #000;
    text-align: left;
}

.modal-title {
    font-size: 1.5rem;
    /* margin-top: 20px; */
    border: none;
}

.modal-footer {
    color: #fafafa;
    font-family: 'Trajan-Pro-3',
        serif;
    text-align: center;
    border: none;
    background-color: #0a0b0c;
    /* padding-bottom: 40px; */
    /* padding: 20px 10px; */
}

div#description {
    padding: 30px 10px 10px 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Futura-PT', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 200;
}

.modal-header {
    font-family: 'Trajan-Pro-3', serif;
    text-align: center;
    color: #fafafa;
    font-size: 2rem;
    background-color: #0a0b0c;
}

span {
    color: #fafafa;
}

span:hover {
    color: #fafafa;
}

button#close-modal {
    background-color: rgb(94, 8, 8);
    border: none;
    color: #fafafa;
    /* margin: 20px 0px; */
}

#close-modal:hover {
    background-color: #b00d0d;
    color: #fafafa;
}

img {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.modal-open {
    overflow: visible;
    border: none;
}

#myChart {
    display: block;
    clear: both;
    background: #fff;
    height: 100vh;
    width: 100%;

  }


/*-------------------------- Cover Page */

/* .bg {
    background-image: linear-gradient(rgba(26, 5, 5, 0.4),
    rgba(28, 12, 12, 0.495)), url("images/cover.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-wrap: wrap; */
    /* background: linear-gradient(rgb(80 74 74 / 34%), rgb(9 9 9 / 76%), rgb(2 0 0 / 62%)); */
    overflow: hidden;
}

.jumbotron {
    font-size: 65px;
    /* line-height: 10; */
    margin-top: 70px;
    /* margin-bottom: 10px; */
    font-family: 'Trajan-Pro-3', sans-serif;
    font-weight: 900;
    background: url(../images/cover.jpg);
    background-size: 40%;
    background-position: 100% 100%;
    -webkit-background-clip: text;
    color: rgb(255 255 255 / 23%);
    animation: zoom 10s ease 500ms forwards;
    padding: 0px 0px;
}
  @keyframes zoom {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
  }
/* 
.jumbotron {
    background-color: transparent;
} */

p.lead {
    font-family: 'Futura-PT', serif;
    letter-spacing: 2px;
    line-height: normal;
    color: rgb(235, 235, 235);
    text-shadow: 1px 1px 3px #4b0404;
    font-size: 1.5rem;
    text-transform: uppercase;
    animation: scatter 1.75s infinite;
}


.btn.btn-primary.btn-lg {
    background: rgb(121, 6, 6);
    width: 150px;
    font-size: 1.1rem;
    color: #fff;
    margin: 20px 40px 20px 40px;
    padding: 20px 10px;
    border: none;
}

.btn.btn-primary.btn-lg:hover {
    background: rgb(121 6 6 / 57%);
    color: #fff;
    border: none;
}

.bg-black {
    background-color: #0a0b0c81;
}

i#chevron-down {
    margin-top: 50px;
    color: #bd2130;
    text-shadow: 0px 0px 6px rgba(133, 56, 56, 0.973);
}

i#chevron-down:hover {
    color: #4b0404;
}

i#chevron-up {
    color: #fafafa;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

i#chevron-up:hover {
    color: #a7a7a75e;
}

/*-------------------------- Modal */

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    min-height: fit-content;
    pointer-events: auto;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1rem;
    outline: 0;
}

div#questions {
    padding: 0px 0px;
}

/*-------------------------- Media Queries */
@media only screen and (min-width: 768px) {

    .jumbotron {
        font-size: 85px;
        /* line-height: 10; */
        margin-top: 70px;
        /* margin-bottom: 10px; */
        font-family: 'Trajan-Pro-3', sans-serif;
        font-weight: 900;
        background: url(../images/cover.jpg);
        background-size: 40%;
        background-position: 100% 100%;
        -webkit-background-clip: text;
        color: rgb(253 253 253 / 18%);
        animation: zoom 10s ease 500ms forwards;
        padding: 0px 0px;
    }

    .quiz-column {
        text-align: center;
        /* overflow: hidden; */
        height: 100vh;
    }

    #question {
        font-size: 25px;
        color: #fafafa;
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        /* margin: 30px 20px; */
        margin-top: 80px;
    }

    #choice0, #choice1, #choice2 {
        font-size: 20px;
        letter-spacing: .5px;
        color: #fafafa;
        font-family: 'Trajan-Pro-3', serif;
        /* margin: 30px 80px; */
    }

    .buttons {
        margin-top: 90px;
        padding-top: 100px;
        text-align: center;
        vertical-align: middle;
        display: inline-grid;
    }

    .answer-column {
        height: 100vh;
        overflow: hidden;
    }

    #progress {
        color: #fafafa;
        font-size: 1rem;
        text-align: center;
        margin-top: 10rem;
    }

    button#btn0,
    button#btn1,
    button#btn2,
    button#btn3 {
        background-color: #0a0b0c;
        font-size: 1.5rem;
        color: #fff;
        margin: 20px 40px 20px 40px;
        padding: 20px 20px;
        border: none;
    }

    h1 {
        padding-top: 10rem;
        font-size: 3rem;
    }

    .modal-open {
        overflow: hidden;
    }

    .modal-title {
        font-size: 2rem;
    }

    div#description {
        font-size: 1.2rem;
    }

    .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: inline-block;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 100%;
        pointer-events: auto;
        background-color: rgb(0, 0, 0);
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 1rem;
        outline: 0;
    }    
}
